.head{
    color: white;
    background-origin: 5px;
    padding: 10px;
    background-color: #336699;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    border: 5px solid whitesmoke;

}

/* display Section */
.display{
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;

    background-color: white;
    border-radius: 15px;
    border-color: black;

    text-align: right;
}

#previous{
    color: rgb(65, 50, 53);
    font-size: 15px;
}
#current{
    font-size: 22px;
}

/* keyboard / Numbers section */
.keyboard{
    display: fixed;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
    border-radius: 3px;
    padding : 12px 12px;
    
    text-align: center; 
    background-color: rgb(255, 255, 255);

}

button{
    padding: 24px 24px;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    display: fixed;
}

button:active {
    transform: scale(0.95);
}