body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;     
    background-color: #1a1a1a; 
}
.content{
background-color: darkslategray;
    padding: 20px; 
    width: 90%;        
    max-width: 450px;   
    height: auto;  
    border-radius: 30px;
    
}

.text , .txtSection , .change{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.change{
    gap: calc(5px);
}


#length{
    accent-color: #0303;
    width: 100px;
    height: auto;
}
#number ,#char {
    accent-color: #0303;
    width: auto;
    height: auto;
}

#inputText{
    accent-color: #0303;
    border-radius: 5px;
    box-shadow: inset;
    height: 20px;
    width: 200px;
    color: black;
    
}
#button{
    border-radius: 15px;
    height: 30px;
    width: 50px;
    background-color: rgb(19, 177, 124);
}
#button:hover{
    background-color: rgb(12, 126, 88);
}
#button:active{
    transform: scale(.8);
}